/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.calendar {
    width: 300px;
    margin: 100px auto;
    overflow: hidden;
    border: 1px solid #000;
    padding: 20px;
    position: relative
}

    .calendar h4 {
        text-align: center;
        margin-bottom: 10px
    }

    .calendar .a1 {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .calendar .a2 {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .calendar .week {
        height: 30px;
        line-height: 20px;
        border-bottom: 1px solid #000;
        margin-bottom: 10px
    }

        .calendar .week li {
            float: left;
            width: 30px;
            height: 30px;
            text-align: center;
            list-style: none;
        }

    .calendar .dateList {
        overflow: hidden;
        clear: both
    }

        .calendar .dateList li {
            float: left;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            list-style: none;
        }
.col-md-4 home-card {
    width: 500px;
    height: 100px;
    border: 1px solid #ddd;
}