@using _17bangMVC.Models.Problem
@model   List<ProblemModel>

<h1>求助列表</h1>
@{
    if (Model != null)
    {
        foreach (var item in Model)
        {
            <label>@item.Title</label><br />
            <label>@item.Body</label>

        }
    }
}





