@model  _17bangMVC.Models.Problem.ProblemModel



@using (Html.BeginForm("Single", "Problem"))
{
    <label>标题：</label> @Html.Raw(Model.Title)<br />
    <label>内容：</label> @Html.Raw(Model.Body)<br />
    foreach (var item in Model.Posts)
    {
        <p>评论：@item.Body</p>
    }
}
@*<form method="post">
        <div id="div1">
            <input type="text" name="name" value="用户名" />
            <input type="text" name="password" value="密码" />
            <input type="button" onclick="showOther1()" value="div2" />
        </div>
        <div id="div2" hidden>
            <input type="text" name="man" value="邀请人" />
            <input type="text" name="name" value="用户名" />
            <input type="text" name="password" value="密码" />
            <input type="button" onclick="showOther2()" value="div1" />
        </div>
        <button type="submit">注册！</button>
    </form>
    <script>
        function showOther1() {
            $("#div1").hide();
            $("#div2").show();
        }
        function showOther2() {
            $("#div2").hide();
            $("#div1").show();
        }
    </script>*@
@using (Ajax.BeginForm("Posts", "Problem",
    new { id = ViewContext.RouteData.Values["id"] },
    new AjaxOptions
    {
        Confirm = "确认提交",
        AllowCache = false,
        HttpMethod = "POST",
        UpdateTargetId = "comments",
        InsertionMode = InsertionMode.InsertAfter,
        LoadingElementDuration = 3,
        LoadingElementId = "wait",
//OnBegin = "alert('开始Ajax提交了')",
//OnSuccess = "alert('提交成功')",
//OnFailure = "alert('提交失败')",
//OnComplete = "alert('提交完成，无论成功还是失败')",
}))
{
    @Html.TextAreaFor(m => m.NewPost)
    <button type="submit">提交</button>
}