@page
@model UI.Pages.PublishSuggestModel
@{
    ViewData["Title"] = "PublishSuggest";
}
<form method="post">
    <h2><span class="glyphicon glyphicon glyphicon-edit"></span>意见建议</h2>
    <label>标题：（* 必填）</label><br /><input asp-for="PublishSuggest.SuggestTitle"  style="width: 50%" /><span asp-validation-for="PublishSuggest.SuggestTitle"></span><br />
    <label>描述：</label><br /><input asp-for="PublishSuggest.SuggestContent" style="width: 50%; height: 267px;" />
    <br />

</form>