@page
@model AspNet.Pages.RegisterModel

@if (ViewData["valid"] != null)
{
    if ((bool)ViewData["valid"])
    {
        <span>激活成功！</span>
    }
    else
    {
        <span>激活失败</span>
    }
}
<form method="post">
    <h1> 注册</h1>
    <label>用户名：</label><p><input asp-for="Register.UserName" /><span asp-validation-for="Register.UserName"></span></p>
    <label>密码：</label><p><input asp-for="Register.PassWord" /><span asp-validation-for="Register.PassWord"></span>
    <p></p>
    <label>验证密码：</label>
    <p>
        <input asp-for="Register.ConfirmPassWord" />
        <span asp-validation-for="Register.ConfirmPassWord"></span>
    </p>
    <input type="radio" asp-for="Register.RemeberGender" value="false" />男
    <input type="radio" asp-for="Register.RemeberGender" value="true" />女
    <p><input type="checkbox" asp-for="Register.Remeber" value="false" />记住我</p>
    <button type="submit">提交</button>

</form>