<!DOCTYPE html>
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<head>


</head>
<body>
    <header>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <a href="/" data-toggle="tooltip" title="返回首页">
                    <img src="/Images/logo-big.ico" alt="一起帮Logo" class="pull-left" />
                </a>
                <p class="navbar-text pull-left">
                    <span style="font-size:18px; font-weight:600;">一起帮</span>
                    <span class="visible-md-inline visible-lg-inline">· 网络互助平台</span>
                </p>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-question-sign"></span> 求助</a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-header">督导班</li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-edit"></span> 疑问发布</a> </li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-list-alt"></span> 疑问列表</a> </li>
                                <li class="divider"></li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-list-alt"></span> 列表</a> </li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-edit"></span> 发布</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-eye-open"></span> 督促</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Problem"><span class="glyphicon glyphicon-edit"></span> 求督促</a></li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-saved"></span> 督促别人</a></li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-list-alt"></span> 我的目标</a></li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-list-alt"></span> 我的督促</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/Article" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list-alt"></span> 文章</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Article"><span class="glyphicon glyphicon-list-alt"></span> 列表</a> </li>
                                <li><a href="/Article"><span class="glyphicon glyphicon-folder-open"></span> 开通</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-phone"></span>APP下载<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Article"><span class="glyphicon glyphicon-phone"></span> Android</a></li>
                                <li><a href="/Article"><span class="glyphicon glyphicon-phone"></span> iOS<small>（越狱）</small> </a> </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>子祥</a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="text-warning"><a zyf-newbie-reminder-show href=""><span class="glyphicon glyphicon-list-alt"></span> 新手任务</a></li>
                                <li><a href="/User/Single"><span class="glyphicon glyphicon-home"></span> 我的主页</a></li>
                                <li class="divider"></li>
                                <li><a href="/User" style="color:aquamarine"><span class="glyphicon glyphicon-tree-deciduous"></span> 帮帮豆：4颗</a></li>
                                <li><a href="/User" style="color:dodgerblue"><span class="glyphicon glyphicon-tint"></span> 帮帮点：63点</a></li>
                                <li><a href="/User" style="color:greenyellow"><span class="glyphicon glyphicon-usd"></span> 帮帮币:999999999枚</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header"><span class="glyphicon glyphicon-edit"></span> 修改</li>
                                <li><a href="/User"><span class="glyphicon glyphicon-lock"></span> 我的密码</a></li>
                                <li><a href="/User"><span class="glyphicon glyphicon-envelope"></span> 联系方式</a></li>
                                <li><a href="/User"><span class="glyphicon glyphicon-hdd"></span> 个人资料</a></li>
                                <li class="divider"></li>
                                <li><a href="/User"><span class="glyphicon glyphicon-log-out"></span> 退出登录</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tasks"></span> 后台<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-bottom-fix" role="menu">
                                <li><a href="/Problem"><span class="glyphicon glyphicon-plus-sign"></span> 邀请注册</a> </li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-phone-alt"></span> 我的消息</a> </li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-book"></span> 我的草稿</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">广告推广</li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-link"></span> 联系方式</a></li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-link"></span> 侧边栏</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">帮帮币</li>
                                <li><a href="/Problem"><b class="glyphicon glyphicon-shopping-cart"></b> 购买</a></li>
                                <li><a href="/Problem"><b class="glyphicon glyphicon-euro"></b> 出售</a></li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-list-alt"></span> 已购买</a></li>
                                <li><a href="/Problem"><span class="glyphicon glyphicon-list-alt"></span> 已出售</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>


    </header>
    <section>
        <p><h3 style="color:darkgray">欢迎加入“一起帮”</h3></p>
    </section>
    <section>
        <div style="background-color:gainsboro">
            @RenderSection("Cd", false)
        </div>
    </section>
    @RenderBody()
    <footer>
        <div>
            <a href="/About/Us">关于我们</a> |
            <a href="/FAQ">常见问题</a> |
            <a href="/Suggest">意见建议</a> |
            <a href="/Notice">历史通知</a> |
            <a href="/Donate" class="text-success">友情捐赠</a> |
            <a href="/About/Fund" class="text-info">融资2018</a>
        </div>
        <div>
            友情链接：
        </div>
        <p class="pull-right"><a href="http://www.miitbeian.gov.cn">渝ICP备18007191号（备案）</a>&copy; 2019 - 首顾科技</p>
    </footer>


    
</body>

